<div class="row mt-2">
  <div class="col-2">
  </div>
  <div class="col-8 py-3">
    <div class="d-flex w-100 justify-content-between" style="color: #ffffff;">
          <h4 class="mb-1">Episodes</h4>
  </div>
  <hr class="style-six" style="background-color: #3e3f3a">
  <div class="col-2">
  </div>
</div>
</div>
{{#each episodes as |episode|}}
  <div class="row mt-2">
    <div class="col-2">
    </div>
    <div class="col-8 py-3">
      <div class="d-flex w-100 justify-content-between" style="color: #ffffff;">
            <h5 class="mb-1">{{limit episode.title 50}}</h5>
            <small>{{math episode.length}} mins</small>
          </div>
          <p class="mb-1" style="color: #ffffff;">{{episode.description}}</p>
    </div>
    <div class="col-2">
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-2">
    </div>
    <div class="col-8 media-hover py-3 episode-play">
  <audio controls src="{{episode.audio}}"></audio>
</div>
<div class="col-2">
</div>
</div>
{{/each}}

<!-- <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small>3 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>


    <div class="media media-hover p-2" style="color:#fff;">
      <span id="foo"><i class="fas fa-play mr-3"></i>
        <div class="media-body d-flex justify-content-between">
          <h5 class="mt-0">{{episode.title}}</h5>
          {{episode.description}}
        </div>
      </span>
      <span class="badge badge-primary badge-pill" style="text-align: right;">{{math episode.length}} mins</span>
    </div> -->
