{{#each podcasts as |podcast index|}}
  <div class="col- mt-5 px-3">
    <div class="card mx-auto" style="width: 18rem;">
      <img src="{{podcast.image}}" data-cell-index="{{index}}" data-podcast="{{podcast.id}}" class="card-img-top card-click-add" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{limit podcast.title 20}}</h5>
        <p class="card-text">{{podcast.publisher}}</p>
      </div>
    </div>
  </div>
{{/each}}
